* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0px;
    font: 14px/20px "Microsoft Yahei", arial, sans-serif;
    background: #f0f0f0;
}

a {
    text-decoration: none;
    color: #9e9e9e;
}

h1 {
    float: left;
    margin: 0 auto;
}

h2,
i,
h3 {
    font-style: normal;
    font-weight: normal;
}

.header {
    width: 100%;
    height: 68px;
    background: #fff;
}

.header_bar {
    width: 1000px;
    height: 68px;
    line-height: 68px;
    margin: 0 auto;
    padding: 0 2px;
}

.header_nav {
    float: left;
}

.header_nav ul {
    float: left;
    margin: 0 0 0 50px;
    padding: 0;
}

.header_nav ul li {
    height: 50px;
    float: left;
    margin-left: 28px;
    position: relative;
}

.header_nav ul .current {
    border-bottom: 2px solid #f26552;
}

.header_nav ul .current a {
    color: #f26552;
}

.recom {
    min-width: 1000px;
    background: url(../img/bg.gif) no-repeat center top;
}

.recom_wrap {
    width: 1000px;
    height: 302px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.recom .title p {
    max-width: 516px;
    height: 20px;
    font-size: 16px;
    color: #FFF;
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 auto;
    opacity: 0.5;
}

.recom .title a {
    color: #fff;
    font-weight: 300;
    max-width: 704px;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 auto;
    display: block;
    padding: 6px 0;
}

.book {
    width: 1000px;
    height: 240px;
    position: relative;
}

.book_wrap {
    padding-top: 26px;
    position: absolute;
    left: 50%;
    margin-left: -315px;
    width: 629px;
    height: 194px;
    overflow: hidden;
}

.book ul li {
    width: 126px;
    height: 200px;
    margin-left: 251px;
}

.book_wrap img {
    height: 200px;
    width: 126px;
    display: inline-block;
}

.waiting {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
}

.content {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 40px;
}

.show {
    width: 930px;
    overflow: hidden;
    background: #fff;
    padding: 42px 35px 0;
}

.show ul li {
    padding: 0 20px;
    margin-bottom: 44px;
    overflow: hidden;
    float: left;
}

.show ul li img {
    float: left;
    width: 105px;
    height: 160px;
    border: 1px solid #f0f0f0;
    margin-right: 14px;
}

.show .bookMation {
    width: 148px;
    height: 160px;
    float: left;
}

.show .bookMation h3 {
    height: 27px;
    width: 148px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    color: #212121;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.show .bookMation h3 a {
    color: #212121;
}

.show .bookMation .buy {
    color: #e52222;
    font-size: 22px;
}

.show .bookMation .buy a {
    width: 34px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    float: right;
    background: #f26552;
    font-size: 12px;
}

.show .bookMation .introduce {
    font-size: 13px;
    width: 148px;
    height: 80px;
    line-height: 16px;
    margin-top: 22px;
    color: #9e9e9e;
}

.bookInfor {
    width: 1000px;
    overflow: hidden;
    background: #fff;
}

.bookInfor .bookL {
    float: left;
    width: 26.9%;
}

.bookInfor .bookR {
    float: left;
    width: 73.1%;
    overflow: hidden;
    padding-bottom: 27px;
    border-left: 1px solid #f0f0f0;
    box-sizing: border-box;
}

.bookInfor .bookL s {
    width: 58px;
    height: 23px;
    line-height: 18px;
    position: absolute;
    background-position: 0 0;
    margin: 11px 0 0 -5px;
    color: #fff;
    padding-left: 28px;
    text-decoration: none;
}

s {
    background: url(../../img/sjicon.png) no-repeat;
}

.bookInfor .bookL a {
    margin: 68px auto 0;
    width: 156px;
    height: 208px;
    display: block;
    position: relative;
    z-index: 1;
}

.bookInfor .bookL a img {
    width: 100%;
    height: 100%;
}

.bookR .bookinf01 {
    padding: 22px 40px 0 30px;
    height: 72px;
    border-bottom: 1px solid #f0f0f0;
}

.bookR .bookinf02 {
    padding: 24px 40px 0 30px;
    height: 98px;
    border-bottom: 1px solid #f0f0f0;
}

.bookR .bookinf03 {
    padding: 24px 40px 0 30px;
}

.bookR .bookinf01 .bookname {
    overflow: hidden;
    margin-bottom: 15px;
    color: #212121;
}

.bookR .bookinf01 .bookname h2 {
    max-width: 438px;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}

.bookR .bookinf01 .bookname h2 a {
    color: #212121;
    font-size: 20px;
}

.bookR .bookinf01 .bookname span {
    float: right;
    font-size: 20px;
}

.bookR .bookinf01 p {
    color: #9e9e9e;
}

.bookR .bookinf01 p span {
    float: left;
}

.bookR .bookinf02 .left {
    float: left;
    width: 180px;
    margin-top: 4px;
}

.bookR .bookinf02 .left p {
    margin-bottom: 18px;
    width: 300px;
}

.bookR .bookinf02 .left p .price {
    font-size: 28px;
    color: #e52222;
}

.bookR .bookinf02 .left .buyBook {
    width: 55px;
    height: 30px;
    background: #f26552;
}

.bookR .bookinf02 .left span {
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}

.bookR .bookinf03 p {
    height: auto;
    max-height: 180px;
    color: #9e9e9e;
}

.header_login {
    float: right;
    padding-top: 20px;
}

.header_login span {
    width: 58px;
    height: 26px;
    line-height: 26px;
    background: #FFF;
    text-align: center;
    font-size: 12px;
    color: #12c229;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #12c229;
}